[package]
name = "client_pool"
version = "0.1.0"
edition = "2018"

[[example]]
name = "client_pool"
path = "client_pool.rs"

[dependencies]
futures = "0.3.17"
tokio-stream = "0.1.7"
lychee-lib = { path = "../../lychee-lib", version = "0.8.1" }
tokio = { version = "1.15.0", features = ["full"] }
