[package]
name = "client_pool"
version = "0.1.0"
edition = "2021"

[[example]]
name = "client_pool"
path = "client_pool.rs"

[dependencies]
futures = "0.3.27"
tokio-stream = "0.1.14"
lychee-lib = { path = "../../lychee-lib", version = "0.12.0" }
tokio = { version = "1.28.0", features = ["full"] }
