[package]
name = "client_pool"
version = "0.1.0"
edition = "2018"

[[example]]
name = "client_pool"
path = "client_pool.rs"

[dependencies]
lychee-lib = { path = "../../lychee-lib" }
tokio = { version = "1.8.2", features = ["full"] }
