[package]
name = "collect_links"
version = "0.1.0"
edition = "2018"

[[example]]
name = "collect_links"
path = "collect_links.rs"

[dependencies]
lychee-lib = { path = "../../lychee-lib", version = "0.7.2" }
tokio = { version = "1.6.0", features = ["full"] }
regex = "1.4.6"
http = "0.2.5"
reqwest = { version = "0.11.3", features = ["gzip"] }