[package]
name = "collect_links"
version = "0.1.0"
edition = "2021"

[[example]]
name = "collect_links"
path = "collect_links.rs"

[dependencies]
lychee-lib = { path = "../../lychee-lib", version = "0.10.0" }
tokio = { version = "1.18.2", features = ["full"] }
regex = "1.5.6"
http = "0.2.8"
tokio-stream = "0.1.8"
reqwest = { version = "0.11.10", features = ["gzip"] }
