[package]
name = "collect_links"
version = "0.1.0"
edition = "2021"

[[example]]
name = "collect_links"
path = "collect_links.rs"

[dependencies]
lychee-lib = { path = "../../lychee-lib", version = "0.12.0" }
tokio = { version = "1.27.0", features = ["full"] }
regex = "1.8.1"
http = "0.2.9"
tokio-stream = "0.1.14"
reqwest = { version = "0.11.17", features = ["gzip"] }
