[package]
name = "collect_links"
version = "0.1.0"
edition = "2021"

[[example]]
name = "collect_links"
path = "collect_links.rs"

[dependencies]
lychee-lib = { path = "../../lychee-lib", version = "0.8.2" }
tokio = { version = "1.16.1", features = ["full"] }
regex = "1.5.5"
http = "0.2.6"
tokio-stream = "0.1.8"
reqwest = { version = "0.11.9", features = ["gzip"] }
