[package]
name = "lychee-lib"
authors = ["Matthias Endler <matthias@endler.dev>"]
description = "A glorious link checker"
documentation = "https://github.com/lycheeverse/lychee/blob/master/README.md"
edition = "2021"
homepage = "https://github.com/lycheeverse/lychee"
keywords = [
    "link",
    "checker",
    "cli",
    "link-checker",
    "validator",
]
license = "Apache-2.0/MIT"
repository = "https://github.com/lycheeverse/lychee"
version = "0.8.2"

[dependencies]
check-if-email-exists = "0.8.26"
fast_chemail = "0.9.6"
glob = "0.3.0"
http = "0.2.6"
linkify = "0.8.0"
openssl-sys = "0.9.72"
pulldown-cmark = "0.9.1"
regex = "1.5.4"
# Use trust-dns to avoid lookup failures on high concurrency
# https://github.com/seanmonstar/reqwest/issues/296
reqwest = { version = "0.11.9", features = ["gzip", "trust-dns"] }
# Make build work on Apple Silicon.
# See https://github.com/briansmith/ring/issues/1163
# This is necessary for the homebrew build
# https://github.com/Homebrew/homebrew-core/pull/70216
ring = "0.16.20"
serde = { version = "1.0.133", features = ["derive"] }
shellexpand = "2.1.0"
tokio = { version = "1.16.1", features = ["full"] }
typed-builder = "0.9.1"
url = { version = "2.2.2", features = ["serde"] }
log = "0.4.14"
path-clean = "0.1.0"
percent-encoding = "2.1.0"
async-stream = "0.3.2"
jwalk = "0.6.0"
cached = "0.30.0"
once_cell = "1.9.0"
thiserror = "1.0.30"
futures = "0.3.21"
lazy_static = "1.4.0"
html5ever = "0.25.1"
html5gum = "0.4.0"
octocrab = "0.15.4"
secrecy = "0.8.0"

[dependencies.par-stream]
version = "0.10.0"
features = ["runtime-tokio"]

[dev-dependencies]
doc-comment = "0.3.3"
pretty_assertions = "1.1.0"
tempfile = "3.3.0"
wiremock = "0.5.10"

[features]
vendored-openssl = ["openssl-sys/vendored"]
