[package]
name = "lychee-lib"
authors = ["Matthias Endler <matthias@endler.dev>"]
description = "A glorious link checker"
documentation = "https://github.com/lycheeverse/lychee/blob/master/README.md"
edition = "2018"
homepage = "https://github.com/lycheeverse/lychee"
keywords = [
    "link",
    "checker",
    "cli",
    "link-checker",
    "validator",
]
license = "Apache-2.0/MIT"
repository = "https://github.com/lycheeverse/lychee"
version = "0.8.1"

[dependencies]
check-if-email-exists = "0.8.25"
deadpool = "0.9.2"
fast_chemail = "0.9.6"
glob = "0.3.0"
html5ever = "0.25.1"
http = "0.2.5"
hubcaps = "0.6.2"
linkify = "0.8.0"
markup5ever_rcdom = "0.1.0"
openssl-sys = "0.9.71"
pulldown-cmark = "0.8.0"
regex = "1.4.6"
reqwest = { version = "0.11.6", features = ["gzip"] }
# Make build work on Apple Silicon.
# See https://github.com/briansmith/ring/issues/1163
# This is necessary for the homebrew build
# https://github.com/Homebrew/homebrew-core/pull/70216
ring = "0.16.20"
serde = { version = "1.0.125", features = ["derive"] }
shellexpand = "2.1.0"
tokio = { version = "1.14.0", features = ["full"] }
typed-builder = "0.9.1"
url = { version = "2.2.2", features = ["serde"] }
log = "0.4.14"
path-clean = "0.1.0"
percent-encoding = "2.1.0"
cached = "0.26.2"
once_cell = "1.8.0"
thiserror = "1.0"

[dev-dependencies]
doc-comment = "0.3.3"
pretty_assertions = "1.0.0"
tempfile = "3.2.0"
wiremock = "0.5.7"

[features]
vendored-openssl = ["openssl-sys/vendored"]
