[package]
name = "lychee"
authors = ["Matthias Endler <matthias@endler.dev>"]
description = "A glorious link checker"
documentation = "https://github.com/lycheeverse/lychee/blob/master/README.md"
edition = "2018"
homepage = "https://github.com/lycheeverse/lychee"
keywords = [
    "link",
    "checker",
    "cli",
    "link-checker",
    "validator",
]
license = "Apache-2.0/MIT"
repository = "https://github.com/lycheeverse/lychee"
version = "0.8.1"

[dependencies]
lychee-lib = { path = "../lychee-lib", version = "0.8.1" }
anyhow = "1.0.51"
console = "0.15.0"
headers = "0.3.5"
http = "0.2.5"
indicatif = "0.15.0"
lazy_static = "1.4.0"
openssl-sys = "0.9.71"
pad = "0.1.6"
regex = "1.4.6"
reqwest = { version = "0.11.6", features = ["gzip"] }
# Make build work on Apple Silicon.
# See https://github.com/briansmith/ring/issues/1163
# This is necessary for the homebrew build
# https://github.com/Homebrew/homebrew-core/pull/70216
ring = "0.16.20"
serde = { version = "1.0.125", features = ["derive"] }
serde_json = "1.0.72"
structopt = "0.3.25"
tabled = "0.3.0"
tokio = { version = "1.14.0", features = ["full"] }
toml = "0.5.8"
once_cell = "1.8.0"

[dev-dependencies]
assert_cmd = "2.0.2"
predicates = "2.1.0"
pretty_assertions = "1.0.0"
tempfile = "3.2.0"
uuid = { version = "0.8.2", features = ["v4"] }
wiremock = "0.5.7"
tracing-subscriber = { version = "0.3.3", default-features = false, features = ["fmt", "registry", "env-filter"] }

# console-subscriber is not yet published to crates.io
# Users have to uncomment this section and the feature below and build lychee
# locally
# TODO: Remove this git revision pin after publication
#[dependencies.console-subscriber]
#optional = true
#git = "https://github.com/tokio-rs/console"
#rev = "926de99ce4cbfd02c87190f9ec5f1c60b5c305d5"

[features]
#tokio-console = ["console-subscriber", "tracing-subscriber/registry"]
vendored-openssl = ["openssl-sys/vendored"]
