[package]
name = "lychee"
authors = ["Matthias Endler <matthias@endler.dev>"]
description = "A glorious link checker"
documentation = "https://github.com/lycheeverse/lychee/blob/master/README.md"
edition = "2018"
homepage = "https://github.com/lycheeverse/lychee"
keywords = [
    "link",
    "checker",
    "cli",
    "link-checker",
    "validator",
]
license = "Apache-2.0/MIT"
repository = "https://github.com/lycheeverse/lychee"
version = "0.7.2"

[dependencies]
lychee-lib = { path = "../lychee-lib", version = "0.7.2" }
anyhow = "1.0.44"
console = "0.14.1"
headers = "0.3.4"
http = "0.2.4"
indicatif = "0.15.0"
lazy_static = "1.4.0"
openssl-sys = "0.9.67"
pad = "0.1.6"
regex = "1.4.6"
reqwest = { version = "0.11.4", features = ["gzip"] }
# Make build work on Apple Silicon.
# See https://github.com/briansmith/ring/issues/1163
# This is necessary for the homebrew build
# https://github.com/Homebrew/homebrew-core/pull/70216
ring = "0.16.20"
serde = { version = "1.0.125", features = ["derive"] }
serde_json = "1.0.68"
structopt = "0.3.21"
tokio = { version = "1.6.0", features = ["full"] }
toml = "0.5.8"

[dev-dependencies]
assert_cmd = "2.0.1"
predicates = "1.0.8"
pretty_assertions = "0.7.2"
tempfile = "3.2.0"
uuid = { version = "0.8.2", features = ["v4"] }
wiremock = "0.5.7"
tracing-subscriber = { version = "0.2.24", default-features = false, features = ["fmt", "registry", "env-filter"] }

[dependencies.console-subscriber]
optional = true
# console-subscriber is not yet published to crates.io
# pin to a specific git revision
git = "https://github.com/tokio-rs/console"
rev = "926de99ce4cbfd02c87190f9ec5f1c60b5c305d5"

[features]
tokio-console = ["console-subscriber", "tracing-subscriber/registry"]
vendored-openssl = ["openssl-sys/vendored"]
