[package]
name = "lychee"
authors = ["Matthias Endler <matthias@endler.dev>"]
description = "A glorious link checker"
documentation = "https://docs.rs/lychee"
homepage = "https://github.com/lycheeverse/lychee"
edition = "2021"
keywords = [
    "link",
    "checker",
    "cli",
    "link-checker",
    "validator",
]
license = "Apache-2.0/MIT"
repository = "https://github.com/lycheeverse/lychee"
version = "0.10.0"

[dependencies]
lychee-lib = { path = "../lychee-lib", version = "0.10.0", default-features = false }
anyhow = "1.0.58"
console = "0.15.0"
const_format = "0.2.26"
headers = "0.3.7"
http = "0.2.8"
indicatif = "0.16.2"
openssl-sys = "0.9.75"
pad = "0.1.6"
regex = "1.6.0"
reqwest = { version = "0.11.11", features = ["gzip"] }
# Make build work on Apple Silicon.
# See https://github.com/briansmith/ring/issues/1163
# This is necessary for the homebrew build
# https://github.com/Homebrew/homebrew-core/pull/70216
ring = "0.16.20"
serde = { version = "1.0.140", features = ["derive"] }
serde_json = "1.0.82"
structopt = "0.3.26"
tabled = "0.7.0"
tokio = { version = "1.20.0", features = ["full"] }
toml = "0.5.9"
futures = "0.3.21"
tokio-stream = "0.1.9"
once_cell = "1.13.0"
dashmap = { version = "5.3.4", features = ["serde"] }
csv = "1.1.6"
humantime = "2.1.0"
humantime-serde = "1.1.1"
secrecy = { version = "0.8.0", features = ["serde"] }
supports-color = "1.3.0"
log = "0.4.17"

[dev-dependencies]
assert_cmd = "2.0.4"
predicates = "2.1.1"
tempfile = "3.3.0"
uuid = { version = "1.1.2", features = ["v4"] }
wiremock = "0.5.13"
tracing-subscriber = { version = "0.3.14", default-features = false, features = ["fmt", "registry", "env-filter"] }

# console-subscriber is not yet published to crates.io
# Users have to uncomment this section and the feature below and build lychee
# locally
# TODO: Remove this git revision pin after publication
#[dependencies.console-subscriber]
#optional = true
#git = "https://github.com/tokio-rs/console"
#rev = "926de99ce4cbfd02c87190f9ec5f1c60b5c305d5"

[features]
#tokio-console = ["console-subscriber", "tracing-subscriber/registry"]
vendored-openssl = ["openssl-sys/vendored"]
check_example_domains = ["lychee-lib/check_example_domains"]

# Unfortunately, it's not possible to automatically enable features
# for cargo test. See rust-lang/cargo#2911.
# As a workaround we introduce a new feature to allow example domains
# in integration tests.
[[test]]
name = "cli"
path = "tests/cli.rs"
required-features = ["check_example_domains"]
