name: CI
on:
  repository_dispatch:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - "*.*.*"
  pull_request:
    types:
      - opened
      - synchronize

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -D warnings

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.43.3

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
      - name: Compile
        run: cargo check --locked
      - name: Test
        run: make test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo fmt (check if all code is rustfmt-ed)
        run: cargo fmt --all --check
      - name: Run cargo clippy (deny warnings)
        run: cargo clippy --all-targets --all-features -- -D warnings
      - uses: cargo-bins/cargo-binstall@main
      - name: Install cargo-msrv
        run: cargo binstall --no-confirm --force cargo-msrv
      - name: Check cargo-msrv version
        run: cargo msrv --version
      - name: Verify the MSRV
        run: make verify

  publish-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: cargo fetch
        run: cargo fetch
      - name: cargo publish lychee-lib
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish --dry-run --manifest-path lychee-lib/Cargo.toml

      # Can't check lychee binary as it depends on the lib above
      # and `--dry-run` doesn't allow unpublished crates yet.
      # https://github.com/rust-lang/cargo/issues/1169
      # `cargo-publish-all` is a solution but it doesn't work with
      # Rust edition 2021.
      # Therefore skip the check for now, which is probably fine
      # because the binary is just a small wrapper around the CLI
      # anyway.
      #
      # - name: cargo publish lychee
      #   uses: actions-rs/cargo@v1
      #   env:
      #     CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      #   with:
      #     command: publish
      #     args: --dry-run --manifest-path lychee-bin/Cargo.toml

  check-feature-flags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Check that lychee doesn't depend on OpenSSL
        run: test -z "$( cargo tree --package lychee --no-default-features --prefix none | sed -n '/^openssl-sys /p' )"
      - name: Run cargo check with default features
        run: cargo check --workspace --all-targets
      - name: Run cargo check with all features
        run: cargo check --workspace --all-targets --all-features
