name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * *"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Link Checker
        uses: lycheeverse/lychee-action@master
        with:
          args: --verbose --exclude-path benches --exclude-path fixtures .

      - name: Create Issue From File
        if: github.repository_owner == 'lycheeverse' && env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
