name: Snap
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - "lychee-v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: snapcore/action-build@v1
        id: build
      - uses: snapcore/action-publish@v1
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
        with:
          snap: ${{ steps.build.outputs.snap }}
          release: ${{ startsWith(github.ref, 'refs/tags/lychee-v') && 'stable' || 'edge'}}
